@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";

body {
    background-color: #1A1A1A;
    color: #FFF;
    font-family: 'Sora'
}